include inc/mixins
include inc/variables

doctype html
html(lang='es')
	head
		meta(charset='UTF-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
		title #{pageTitle}
		meta(name='description', content='')
		meta(name='viewport', content='width=device-width,initial-scale=1')
		link(rel='stylesheet', href='assets/css/style.css')
		<!--[if lte IE 8]>
		script(src='assets/js/libs/ie.min.js')
		<![endif]-->

		script(src='assets/js/libs/modernizr-detectizr.js')

	body
		<!--[if lte IE 8]>
		p.browserupgrade You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.
		<![endif]-->

		h1 #{pageTitle}

		//- JavaScript block
		+loadJQuery('1.11.3')
		script(src='assets/js/functions.js')

			